<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="home">Greetigs Web App</a>
</div>
<ul class="nav navbar-nav">
  <!-- <li><a href="greeted">Home</a></li> -->
  <li><a href="greeted">People Greeted</a></li>
  <!-- <li><a href="counter">Counter</a></li> -->
</ul>
</div>
</nav>
<div class="greetedNames"><br><br><br>

  <p><h2><u>Greeted Names:</u></h2></p><br>

<tbody align="center">
  {{#each greeted}}
  <li>{{greetedNames}}</li>
  {{/each}}
</tbody>
</div>
