<h1>Greetings App...</h1>
<br>
<!-- <br> -->
<div class="container">

<form method="post">
  <div class="form">

  <input type="text" name="name" value="" placeholder="Please Enter Name">
  <button type="submit" class="greetButton" name="button">Greet</button>
      <label class="radioButton">
          <input type="radio" class="language" name="language" value="English"><b>English
      </label>
      <label class="radioButton">
          <input type="radio" class="language"name="language" value="Afrikaans"><b>Afrikaans</b>
      </label>
      <label class="radioButton">
          <input type="radio" class="language" name="language" value="Xhosa"><b>Xhosa</b>
      </label><br><br>
    </div>
  </div>
</form>
