<h1>Greetings App...</h1>
<nav>
    <a href="/greeted">View Names Greeted</a> <br>

</nav>
<br>
<div class="errorMessage">
  {{#if messages.error}}
  {{messages.error}}
  {{/if}}
</div>
<br>
<br>
<div class="container">

<form action="" method="post">
  <div class="form">
  <input type="text" name="name" value="" placeholder="Please Enter Name" required=""><br><br>
  <label class="radioButton">
          <input type="radio" class="languages" name="language" value="English" required=""><b>English
      </label>
      <label class="radioButton">
          <input type="radio" class="languages"name="language" value="Afrikaans" required=""><b>Afrikaans</b>
      </label>
      <label class="radioButton">
          <input type="radio" class="languages" name="language" value="Xhosa" required=""><b>Xhosa</b>
      </label><br><br>
      <button type="submit" class="btn btn-outline-primary" name="" require="">Greet</button><br><br>
      <p class="display">{{display}}</p>
      <p class ="counter">{{counter}}</p>
    </div>
</form>
<form action="/reset" method="post">
  <button type="submit" class="resetButton" name="button">Reset</button>

</form>
</div>
